# Executables
*.swp
*.air
*.ipa
*.apk

data/*
ipynb/.ipynb_checkpoints
ipynb/model
ipynb/chains
*.pdf
*.egg-info
build
dist
pyfile/*/login*
pyfile/*/pyraf
pyfile/*/uparm
pyfile/*/logfile
pyfile/*/database
pyfile/*/database_0
pyfile/*/*.fits
*__pycache__*


